attrs==24.3.0
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cloudscraper==1.2.71
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
filelock==3.16.1
Flask==3.0.3
fsspec==2024.12.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
lxml==4.9.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
nba_api==1.6.1
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
plotly==5.24.1
Pygments==2.19.1
pyparsing==3.2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.9.4
scikit-learn==1.6.0
scipy==1.15.0
selenium==4.27.1
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
soccerdata==1.8.4
sortedcontainers==2.4.0
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
torch==2.5.1
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
undetected-chromedriver==3.5.5
unicode==2.9
Unidecode==1.3.8
urllib3==2.3.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.0.6
wsproto==1.2.0
zipp==3.21.0
